body {
  font-family: "Raleway";
  margin: 0;
}
.main {
  max-width: 1440px;
  margin: auto;
}

.header {
  display: grid;
  justify-items: center;
}

button {
  font-family: "Raleway";
  font-size: larger;
  cursor: pointer;
}

.logo {
  display: flex;
  order: 0;
  padding: 2rem 2rem;
  height: 3rem;
  justify-content: flex-start;
  flex-grow: 1;
}

.nav {
  display: flex;
  grid-area: navbar;
}

.signup {
  grid-area: signup;
}

.navbutton:hover {
  font-weight: 500;
  text-decoration: none;
  color: #0065fc;
  border-top: #0065fc 3px solid;
  padding: 0 2rem;
  padding-top: 2.5rem;
  margin-top: 0;
}

.navbutton {
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  color: #0065fc;
  border-top: #0065fc 3px solid;
  padding: 0 2rem;
  padding-top: 2.5rem;
  margin-top: 0;
}

.inactive {
  color: #000000;
  border-top: transparent 3px solid;
}

.signup {
  font-weight: 500;
  text-decoration: none;
  padding: 0 2rem;
  padding-top: 2.5rem;
  margin-top: 0;
  font-weight: bold;
  color: #0065fc;
  border-top: transparent 3px solid;
}

.signup:hover {
  font-weight: bold;
}

@media screen and (min-width: 601px) {
  .header {
    display: grid;
    margin: auto;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar signup";
  }
  .logo {
    order: 0;
  }
  .nav {
    order: 1;
    display: flex;
    justify-self: flex-end;
  }
  .signup {
    order: 2;
    display: flex;
    justify-self: flex-end;
  }
}

@media screen and (max-width: 600px) {
  .header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . signup" "navbar navbar navbar";
  }
  .logo {
    order: 0;
  }
  .navbar {
    width: 100%;
  }
  .nav {
    order: 2;
    display: flex;
    width: 100%;
    text-align: center;
  }
  .navbutton {
    justify-content: center;
    width: 50%;
    display: flex;
    border-top: none;
    border-bottom: #0065fc 3px solid;
    padding: 2rem;
    padding-top: 0rem;
    padding-bottom: 1.5rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .navbutton:hover {
    border-top: none;
    border-bottom: #0065fc 3px solid;
    padding: 2rem;
    padding-top: 0rem;
    padding-bottom: 1.5rem;
    margin-top: 0;
  }
  .inactive {
    color: #000000;
    border-bottom: #f2f2f2 3px solid;
  }
  .signup {
    order: 1;
    display: flex;
    justify-self: flex-end;
  }
}

h1 {
  font-weight: bold;
  font-size: 30px;
  margin: auto;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  margin-left: 2rem;
}

h3 {
  font-size: 16px;
  display: block;
}

h4 {
  font-size: 14px;
  font-weight: 500;
}

.section1 {
  margin: auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

.locationbutton {
  background-color: #f2f2f2;
  border: transparent solid;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 50px;
  width: 50px;
  position: relative;
  bottom: -1px;
}

.locationbutton:focus {
  outline: none;
}

.searchbutton {
  position: relative;
  left: -8px;
  bottom: -1px;
  width: fit-content;
  font-size: 1.1em;
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  border: transparent solid;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 50px;
  padding: 0.5rem 1rem;
}

.searchbuttonicon {
  position: relative;
  left: -8px;
  bottom: -1px;
  width: fit-content;
  font-size: 1.1em;
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  border: transparent solid;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  height: 50px;
  display: none;
  padding: 0.5rem 0.8rem;
}

.searchbutton:focus {
  outline: none;
}

.searchbar {
  padding-left: 15px;
  font-family: "Raleway";
  font-size: 1em;
  font-weight: bold;
  position: relative;
  left: -4px;
  width: auto;
  border: none;
  height: 50px;
  border-top: 1px #f2f2f2 solid;
  border-bottom: 1px #f2f2f2 solid;
}

.searchbar:focus {
  outline: none;
}

.searchgroup {
  height: 50px;
}

.filterbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 30px;
}

.filters {
  font-weight: bold;
  font-size: 24px;
  margin-right: 1rem;
  margin-left: 1rem;
}

.filtericon {
  color: #0065fc;
  background-color: #DEEBFF;
  padding: 13px;
  border-radius: 35px;
  position: relative;
  left: -0.5rem;
}

.filterbutton {
  font-size: 16px;
  border-top: #f2f2f2 solid 2px;
  border-bottom: #f2f2f2 solid 2px;
  border-left: #f2f2f2 solid 2px;
  border-right: #f2f2f2 solid 2px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  cursor: pointer;
  margin: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.filterbutton:hover {
  background-color: #f2f2f2;
  transform: scale(1.1);
}

.infoicon {
  float: left;
  border: solid 2px #f2f2f2;
  border-radius: 45px;
  padding: 5px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: small;
  color: #0065fc;
  position: relative;
  bottom: 2px;
  margin-right: 1rem;
}

.infotext {
  padding-top: 0.15rem;
}

@media screen and (max-width: 600px) {
  .filters {
    width: 100%;
  }
  .searchbutton {
    display: none;
  }
  .searchbuttonicon {
    display: inline-block
  }
  .searchgroup {
    width: 100%;
    margin: auto;
  }
}

.bloc1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
  margin-top: 2.5rem;
}

#hebergement {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-top: 20px;
  max-width: 920px;
  width: max-content;
  margin: 1rem;
}

.section2 {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card {
  flex-basis: 28%;
  width: 28%;
  height: 200px;
  margin: 0px 15px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
  border: transparent 5px solid;
  border-radius: 20px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.cardimage {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 120px;
}

.cardtitle {
  font-weight: bold;
  margin-bottom: -12px;
}

.cardtext {
  margin-bottom: 2px;
}

.starrating {
  font-size: 12px;
  margin: -2px;
}

.starrating[data-active="true"] {
  color: #0065fc;
}

.starrating[data-active="false"] {
  color: #d9d9d9;
}

.cardbottom {
  position: relative;
  top: -5px;
  left: 15px;
  font-size: 15px;
}

#afficherplus {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}

.section3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: #f2f2f2;
  height: max-content;
}

#populaires {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-top: 20px;
  width: max-content;
  max-width: 30%;
  margin: 1rem;
}

.titrepopulaires {
  display: flex;
  justify-content: space-between;
}

.popularicon {
  font-size: 1.5em;
  margin: 1.5rem;
}

.cards2 {
  width: 100%;
  height: 130px;
  margin: 0px 1rem;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
  border: transparent 5px solid;
  border-radius: 20px;
  cursor: pointer;
}

.cards2:hover {
  transform: scale(1.05);
}

.cardimages2 {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  object-fit: cover;
  width: 120px;
  height: 130px;
}

.cardtitles2 {
  font-weight: bold;
  margin-bottom: -12px;
}

.cardright {
  width: auto;
  max-width: 50%;
  position: relative;
  left: 135px;
  bottom: 140px;
  font-size: 15px;
}

.starratings2 {
  position: absolute;
  top: 6rem;
}

@media screen and (min-width: 1441px) {
  #hebergement {
    order: 1;
  }
  #populaires {
    order: 2;
  }
}

@media screen and (max-width: 1440px) {
  #hebergement {
    order: 2;
    max-width: none;
  }
  .card {
    flex-basis: 40%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #populaires {
    order: 1;
    max-width: none;
    width: 100%;
  }
  .section3 {
    height: 200px;
  }
  .cards2 {
    width: 28%;
  }
}

@media screen and (max-width: 1100px) {
  .cards2 {
    width: 90%;
  }
  .section3 {
    height: max-content;
  }
}

@media screen and (max-width: 805px) {
  .card {
    flex-basis: 90%;
  }
}

@media screen and (max-width: 600px) {
  #hebergement {
    background-color: white;
  }
  .card {
    flex-basis: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .section2 {
    background-color: white;
  }
  #populaires {
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .titrepopulaires {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.titres4 {
  margin-top: 3rem;
}

.bloc2 {
  max-width: 1440px;
  margin: auto;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.activites {
  padding: 2rem;
  width: 100%;
  justify-content: center;
  display: grid;
  column-gap: 2rem;
}

.cards3 {
  box-shadow: 0 0 20px #0000002e;
  border-radius: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 3.4rem;
}

.cards3:hover {
  transform: scale(1.05);
}

.titlebox {
  grid-row-end: end;
  background-color: #ffffff;
}

.titreactivite {
  margin: 1.2rem 1.5rem;
}

.activite1 {
  background-image: url(../images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.activite2 {
  background-image: url(../images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.activite3 {
  background-image: url(../images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.activite4 {
  background-image: url(../images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.activite5 {
  background-image: url(../images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.activite6 {
  background-image: url(../images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

@media (min-width: 1100px) {
  .activites {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
  }
  .activite1 {
    grid-row: 2/7;
    grid-column: 1/2;
  }
  .activite2 {
    grid-row: 2/5;
    grid-column: 2/3;
  }
  .activite3 {
    grid-row: 2/7;
    grid-column: 3/4;
  }
  .activite4 {
    grid-row: 2/3;
    grid-column: 4/5;
  }
  .activite5 {
    grid-row: 6/7;
    grid-column: 2/3;
  }
  .activite6 {
    grid-row: 4/7;
    grid-column: 4/5;
  }
}

@media (max-width: 1100px) {
  .activites {
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 14rem 14rem;
  }
}

@media (max-width: 925px) {
  .activites {
    row-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 14rem 14rem 14rem;
  }
}

@media (max-width: 650px) {
  .activites {
    row-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 14rem 14rem 14rem 14rem 14rem 14rem;
  }
}

article {
  background-color: #ffffff;
}

footer {
  background-color: #f2f2f2;
}

.footer {
  margin: auto;
  justify-self: center;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
}

.footerbloc {
  margin: 3rem 3rem;
  display: flex;
  flex-direction: column;
}

.footerlink {
  text-decoration: none;
  color: #000000;
  margin-bottom: 0.5rem;
}

@media (max-width: 750px) {
  .footer {
    flex-direction: column;
  }
  .footerbloc {
    margin: 1rem 3rem;
  }
}