@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
}
body {
  font-family: "Raleway";
  display: block;
  margin-top: 0px;
}
button {
  font-family: "Raleway";
  font-size: larger;
  cursor:pointer;
}
.header {
  display: grid;
  align-items: center;
  margin-top: 0;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "logo . nav signup";
}
.logo {
  grid-area: logo;
  padding: 0 2rem;
  position: relative;
  top: 25px;
}
.nav {
  display: flex;
  align-items: center;
  grid-area: nav;
}
.signup {
  display: flex;
  align-items: center;
  grid-area: signup;
}
.navbutton:hover {
  font-weight: 500;
  text-decoration: none;
  color: #0065fc;
  border-top: #0065fc 3px solid;
  padding: 0 2rem;
  padding-top: 2.5rem;
  margin-top: 0;
}
.navbutton {
  font-weight: 500;
  text-decoration: none;
  color: #0065fc;
  border-top: #0065fc 3px solid;
  padding: 0 2rem;
  padding-top: 2.5rem;
  margin-top: 0;
}
.inactive {
  color: #000000;
  border-top: transparent 3px solid;
}
.signup {
  font-weight: bold;
  color: #0065fc;
  border-top: transparent 3px solid;
}
.signup:hover {
  font-weight: bold;
}
h1 {
  font-weight: bold;
}
h2 {
  margin-left: 40px;
  font-weight: bold;
}
.section1 {
  margin: 50px 33px;
}
#subtitle1 {
  margin-top: -15px;
}
.locationbutton {
  margin-right: none;
  background-color: #f2f2f2;
  border: transparent solid;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 50px;
  width: 50px;
  position: relative;
  bottom: -1px;
}
.locationbutton:focus {
  outline:none;
}
.searchbutton {
  position: relative;
  left: -8px;
  bottom: -1px;
  margin-left: none;
  width: 160px;
  font-size: 1.1em;
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  border: transparent solid;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 50px;
}
.searchbutton:focus {
  outline:none;
}
.searchbar {
  padding-left: 15px;
  font-family: "Raleway";
  font-size: 1em;
  font-weight: bold;
  position: relative;
  left: -4px;
  margin: none;
  width: 230px;
  border: none;
  height: 50px;
  border-top: 1px #f2f2f2 solid;
  border-bottom: 1px #f2f2f2 solid;
}
.searchbar:focus {
  outline:none;
}
.searchgroup {
  height: 50px;
}
.filterbar {
  display: grid;
  align-items: center;
  margin-top: 30px;
  grid-template-columns: 50px 160px 120px 160px 200px;
  grid-template-areas: "filters economic familial romantic pets";
  grid-column-gap: 20px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 30px;
}
.filtericon {
  color: #0065fc;
  background-color: #DEEBFF;
  padding: 13px;
  border-radius: 35px;
}
.filterbutton {
  grid-template-columns: auto auto;
  border-top: #f2f2f2 solid 3px;
  border-bottom: #f2f2f2 solid 3px;
  border-left: #f2f2f2 solid 3px;
  border-right: #f2f2f2 solid 3px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  cursor:pointer;
}
.filterbutton:hover {
background-color: #f2f2f2;
transform: scale(1.1);
}
.infoicon {
  border: solid 2px #f2f2f2;
  border-radius: 45px;
  padding : 5px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: small;
  color: #0065fc;
  position: relative;
  bottom: 2px;
}
.bloc1 {
  margin-left: 100px;
  display:grid;
  grid-template-columns: auto;
  grid-template-areas: "hebergement populaires";
}
#hebergement {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-top:20px;
  width: 1050px;
}
.section2 {
  display:grid;
  grid-template-columns: auto;
  grid-template-areas: "card1 card2 card3"
  "card4 card5 card6";
  padding-left: 20px;
  padding-right: 20px;
}
.card {
  width: 270px;
  height: 200px;
  margin: 0px 30px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
  border: #ffffff 5px solid;
  border-radius: 20px;
}
.cardimage {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit:cover;
  width: 270px;
  height: 120px;
}
#populaires {
  width: 500px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-top:20px;
}
.popularicon {
  position:relative;
  left: 150px;
}
.cards2 {
  width: 200px;
  height: 200px;
  margin: 0px 55px;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
}
.cardimages2 {
  object-fit:cover;
  width: 240px;
  height: 120px;
}
.section3 {
  background-color: #f2f2f2;
}
.starrating[data-active="true"] {
  color: #0065fc;
}
.starrating[data-active="false"] {
  color: #f2f2f2;
}
article {
  background-color: #ffffff;
}
footer {
  background-color: #f2f2f2;
}
