@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
}
body {
  font-family: "Raleway";
  display: block;
  margin-top: 0px;
}
button {
  font-family: "Raleway";
  font-size: larger;
}
.header {
  display: grid;
  align-items: center;
  margin-top: 0;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "logo . nav signup";
}
.logo {
  grid-area: logo;
  padding: 0 2rem;
  position: relative;
  top: 25px;
}
.nav {
  display: flex;
  align-items: center;
  grid-area: nav;
}
.signup {
  display: flex;
  align-items: center;
  grid-area: signup;
}
.navbutton:hover {
  font-weight: 500;
  text-decoration: none;
  color: #0065fc;
  border-top: #0065fc 2px solid;
  padding: 0 2rem;
  padding-top: 2.5rem;
  margin-top: 0;
}
.navbutton {
  font-weight: 500;
  text-decoration: none;
  color: #0065fc;
  border-top: #0065fc 2px solid;
  padding: 0 2rem;
  padding-top: 2.5rem;
  margin-top: 0;
}
.inactive {
  color: #000000;
  border-top: transparent 2px solid;
}
.signup {
  font-weight: bold;
  color: #0065fc;
  border-top: transparent 2px solid;
}
.signup:hover {
  font-weight: bold;
}
h1 {
  font-weight: bold;
}
.section1 {
  margin: 50px 33px;
}
#subtitle1 {
  margin-top: -15px;
}
.locationbutton {
  margin-right: none;
  background-color: #f2f2f2;
  border: transparent solid;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 50px;
  width: 50px;
  position: relative;
  bottom: -1px;
}
.locationbutton:focus {
  outline:none;
}
.searchbutton {
  position: relative;
  left: -8px;
  bottom: -1px;
  margin-left: none;
  width: 160px;
  font-size: 1.1em;
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  border: transparent solid;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 50px;
}
.searchbutton:focus {
  outline:none;
}
.searchbar {
  padding-left: 15px;
  font-family: "Raleway";
  font-size: 1em;
  font-weight: bold;
  position: relative;
  left: -4px;
  margin: none;
  width: 230px;
  border: none;
  height: 50px;
  border-top: 1px #f2f2f2 solid;
  border-bottom: 1px #f2f2f2 solid;
}
.searchbar:focus {
  outline:none;
}
.locationicon {
}
.searchgroup {
  height: 50px;
}
.section2 {
  background-color: #f2f2f2;
}
.section3 {
  background-color: #f2f2f2;
}
.starrating[data-active="true"] {
  color: #0065fc;
}
.starrating[data-active="false"] {
  color: #f2f2f2;
}
article {
  background-color: #ffffff;
}
footer {
  background-color: #f2f2f2;
}
